<!DOCTYPE html>
<html>
  <head>
    <title>HASTEA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/img/logo.png">

  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
  </body>
</html>
