<div class="row">

  <!-- This is the sidebar -->
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <!-- The below will be automatically populated via the following function -->
      <% Run.where(status: [0, 1, 2, 3, 4]).each_with_index do |run, table_index| %>
        <!-- if first element make active else don't -->
        <% if table_index == 0 %>
          <a class="list-group-item list-group-item-action active" id=ASDF_<%= run.id %> data-toggle="list"
             href=#list_<%= run.id %> role="tab" aria-controls=<%= get_business_name(run.business_id) + " on " + run.datetime.strftime("%m/%d/%Y") %>>
            <%= get_business_name(run.business_id) + " on " + run.datetime.strftime("%m/%d/%Y") %>
          </a>
        <% else %>
          <a class="list-group-item list-group-item-action" id=ASDF_<%= run.id %> data-toggle="list"
             href=#list_<%= run.id %> role="tab" aria-controls=<%= get_business_name(run.business_id) + " on " + run.datetime.strftime("%m/%d/%Y") %>>
            <%= get_business_name(run.business_id) + " on " + run.datetime.strftime("%m/%d/%Y") %>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>


  <!-- This is the main area -->
  <div class="col-8">
    <div class="container">
      <div class="tab-content" id="nav-tabContent">
        <% Run.where(status: [0, 1, 2, 3, 4]).each_with_index do |run, table_index| %>
          <!-- if first element make active else don't -->
          <% if Order.where(run_id: run.id).count == 0 %>
          <% else %>

          <% if table_index == 0 %>
            <!-- this be tab -->
            <div class="tab-pane fade show active" id=list_<%= run.id %> role="tabpanel" aria-labelledby=ASDF_<%= run.id %>>
              <div class="container h-75">

              <table class="table table-sm">
                <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Order</th>
                  <th scope="col">How much?</th>
                </tr>
                </thead>
                <tbody>
                <!-- check if Order has been filled by runner -->
                <% if (Order.where(run_id: run.id).first.status == 0) %>
                  <!-- loop through all exsisting orders for run and create unique entries for each -->
                  <% Order.where(run_id: run.id).each do |order_entry| %>
                    <tr>
                      <td>
                        <%= User[order_entry.user_id].first_name.to_s + " " + User[order_entry.user_id].last_name.to_s %>
                      </td>

                      <td>
                        <%= order_entry.order_desc %>
                      </td>

                      <td>
                        <input class="form-control" type="number" placeholder="Cost"
                               id=<%= order_entry.id %>>
                      </td>
                    </tr>
                  <% end %>

                <% else %>

                  <% Order.where(run_id: run.id).each do |order_entry| %>

                    <tr>
                      <td>
                        <%= User[order_entry.user_id].first_name.to_s + " " + User[order_entry.user_id].last_name.to_s %>
                      </td>

                      <td>
                        <%= order_entry.order_desc %>
                      </td>

                      <td>
                        <input class="form-control" type="number" placeholder=<%= order_entry.cost %> readonly>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>

                  </table>
                <% end %>
                <!-- check if Order has been filled by runner -->
                <% if (Order.where(run_id: run.id).first.status == 0) %>
                  </div>
                  <button type="button" class="btn btn-secondary">Submit</button>
                <% else %>
              <% end %>
              </div>
            </div>


          <% else %>
            <div class="tab-pane fade" id=list_<%= run.id %> role="tabpanel" aria-labelledby=ASDF_<%= run.id %>>
              <div class="container h-75">

              <table class="table table-sm">
                <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Order</th>
                  <th scope="col">How much?</th>
                </tr>
                </thead>
                <tbody>
                <!-- check if Order has been filled by runner -->
                <% if (Order.where(run_id: run.id).first.status == 0) %>
                  <!-- loop through all exsisting orders for run and create unique entries for each -->
                  <% Order.where(run_id: run.id).each do |order_entry| %>

                    <tr>
                      <td>
                        <%= User[order_entry.user_id].first_name.to_s + " " + User[order_entry.user_id].last_name.to_s %>
                      </td>

                      <td>
                        <%= order_entry.order_desc %>
                      </td>

                      <td>
                        <input class="form-control" type="number" placeholder="Cost"
                               id=<%= order_entry.id %>>
                      </td>
                    </tr>
                  <% end %>

                <% else %>

                  <% Order.where(run_id: run.id).each do |order_entry| %>

                    <tr>
                      <td>
                        <%= User[order_entry.user_id].first_name.to_s + " " + User[order_entry.user_id].last_name.to_s %>
                      </td>

                      <td>
                        <%= order_entry.order_desc %>
                      </td>

                      <td>
                        <input class="form-control" type="number" placeholder=<%= order_entry.cost %> readonly>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>

                  </table>
                <% end %>
                <!-- check if Order has been filled by runner -->
                <% if (Order.where(run_id: run.id).first.status == 0) %>
                  </div>
                  <button type="button" class="btn btn-secondary">Submit</button>
                <% else %>
                <% end %>
          <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>