<div class="bg-full">
  <div class="container nav-sep">
    <form action="/runner_edit" method="POST">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% Run.where(runner_id: @user.id,status: [0, 1] ).each do |run| %>
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title"><%= get_business_name(run.business_id)%></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=run.datetime.strftime("%m/%d/%Y")%></h6>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Order</th>
                  <th scope="col">Cost</th>
                </tr>
              </thead>
              <tbody>
                <% Order.where(run_id: run.id).each do |order| %>
                  <tr>
                    <th scope="row"><%=User[order.user_id].first_name+" "+User[order.user_id].last_name%></th>
                    <td><%=order.order_desc%></td>
                    <td><input class="form-control" type="text" name="<%=order.id%>" placeholder="Cost"></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <btn class="btn btn-primary float-right" onclick="location.href='/run_edit/<%=run.id%>'">Edit</btn>
          </div>
        </div>
      <%end%>
      <input type="submit" class="btn btn-primary float-right" value="Update"></input>
    </form>
  </div>
</div>
